.achievement {
    margin-top: 96px;
    padding-top: 151px;
    padding-bottom: 151px;
    background-color: $color-primary3;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    &__item {
        width: 25%;
        text-align: center;

        &:not(:last-child) {
            border-right: 1px solid $color-primary1;
        }



        @media (max-width: 768px) {
            width: 50%;
        }
    }

    &__indicator {
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-size: 85px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $color-primary1;
    }

    &__desc {
        margin-top: 16px;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.5;
        letter-spacing: 0.01em;
        color: $color-text;
    }
}