.article {
    margin-top: 96px;

    &__title {
        text-align: center;
    }

    &__list {
        margin-top: 52px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 27px;
        row-gap: 30px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            row-gap: 27px;
        }
    }

    &__item {
        background-color: $color-white;
        padding: 21px;
        border: 1px solid $color-border;
        border-radius: 62px;
        transition: background-color .6s ease;

        &:hover {
            background-color: $color-primary3;
        }

        &:hover circle {
            fill: $color-white;
        }
    }

    &__img {
        border-radius: 62px 62px 0 0;
    }

    &__info {
        position: relative;
    }

    &__category {
        position: absolute;
        top: -56px;
        left: 20px;
        background-color: $color-white;
        border-radius: 8px 8px 8px 0;
        padding: 4px 8px 9px 11px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    &__pagination {
        margin-top: 51px;
    }
}