.footer {
    padding-top: 96px;
    padding-bottom: 134px;

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 27px;

        @media (max-width: 600px) {
            grid-template-columns: 1fr;
            row-gap: 27px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    &__item {
        @media (max-width: 600px) {
            text-align: center;
        }
    }

    &__text {
        margin-top: 18px;
        white-space: pre-line;
    }

    &__title {
        text-align: center;
    }

    &__social {
        margin-top: 31px;
        display: flex;
        align-items: center;
        gap: 50px;

        @media (max-width: 600px) {
            justify-content: center;
        }

        &_item {
            width: 20px;
            height: 20px;

            &>a {
                display: block;
                width: 20px;
                height: 20px;
            }
        }
    }

    &__pages {
        text-align: center;

        &>li {
            margin-top: 36px;
            transition: color .5s ease;

            &:hover {
                color: $color-primary1;
            }
        }
    }

    &__contact {
        margin-top: 34px;
        white-space: pre-line;
        text-align: right;

        @media (max-width: 600px) {
            text-align: center;
        }
    }
}