* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
button {
    cursor: pointer;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
}

ul,
li {
    list-style: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

img {
    width: 100%;
}